MONGODB_URI=your_mongodb_connection_string
ADZUNA_APP_ID=your_adzuna_app_id
ADZUNA_APP_KEY=your_adzuna_app_key
JOOBLE_KEY=your_jooble_key
JWT_SECRET = your_jwt_secret
PORT = your_port_number
FRONTEND_URL = your_frontend_url
CLOUD_NAME = \your_cloud_name
CLOUD_API = your_cloud_api
API_SECRET = your_api_secret
OPENAI_API_KEY=your_openai_api_key
